<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MPWaterfall.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CCC412531CFE7C690049CC82</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CCC4126C1CFE7C6A0049CC82</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CCC412771CFE7C6A0049CC82</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
